 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3198px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 3070px;
  width: 632px;
  margin: 46px auto 60px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 2888px;
  margin: 26px -14px 60px 36px;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4024px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 2592px;
    width: 340px;
    margin-top: 0;
    margin-bottom: 42px;
    margin-left: -50px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 3807px;
    width: 318px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}